
#edit{
    display: flex;
    flex-direction: column;
    background: url("./images/frontPage1.jpg");
    height: 100%;
    width: 100%;
    /* justify-content: center; */
    align-items: center;



}
.bt{
    color: black;
}
.round{
    border: 1px solid white;
    width: 30px;
    border-radius: 100px;
    padding: 2px 5px 2px 5px;
    font-size: 10px;
    color: white;
    display: flex;
    justify-content: center;

}
#edit1 {
  background: url("./images/1.jpeg");
  background-size: 100% 100%;
}
#edit2 {
  background: url("./images/2.jpeg");
  background-size: cover;
}
#edit3 {
  background: url("./images/3.jpg");
  background-size: cover;
}
#edit4 {
  background: url("./images/1.jpeg");
  background-size: cover;
}
#edit5 {
  background: url("./images/2.jpeg");
  background-size: cover;
}
#edit6 {
  background: url("./images/3.jpg");
  background-size: cover;
}
#magazine {
  width: 800px;
  height: 500px;
  margin: 5% auto;
  box-shadow: 10px;
}
body {
  overflow: hidden;
  background-size: 100% 100%;
  background: url("./images/bg3.jpg");
  height: 100vh;
}
.flexi {
  display: flex;
  flex-direction: row;
  align-items: start;
  height: 100vh;
  /* width: 80%;
    margin: auto; */
}
.heart {
  width: 80px;
  height: 50px;
  /* display: absolute;
  top: 20; */
  margin-top: 30px;
}

.heartImg {
  width: 100%;
  height: 100%;
  animation: scaleUp 2s infinite ease-in-out;
}

@keyframes scaleUp {
  0%,
  100% {
    transform: scale(1); /* Original size */
  }
  50% {
    transform: scale(1.2); /* Scaled-up size */
  }
}

.flCol {
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: space-between;
}
.love-letter {
  font-size: 50px;
  animation: scaleUp 2s infinite ease-in-out;
  width: 200px;
  height: 200px;
  margin-left: 40px;
}
.r {
  position: relative;
}

.logoText {
  position: absolute;
  top: 10;
}
